# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
cmake-build-*/

# IDE files
.vscode/
.idea/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Backup files
*~
*.swp
*.swo

# MacOS files
.DS_Store

# Dear ImGui submodule
extern/imgui/

# Clangd files
.clangd/
compile_flags.txt

# Clang-format file
.clang-format
